{% extends "layout.html" %}

{% block page_title %}
Cyberfunk
{% endblock %}


{% block body_content %}

<center>
<h1>Recent Scores</h1>
<table class="table leaderboard">
    <thead>
        <tr>
			<th scope="col">Name</th>
            <th scope="col">Grade</th>
            <th scope="col">Score</th>
            <th scope="col">Max Combo</th>
			<th scope="col">Accuracy</th>
        </tr>
    </thead>

    <tbody>
		{% for row in rows %}
        	<tr>
				<td>{{ row["username"] }}</td>
				<td>{{ row["grade"] }}</td>
				<td>{{ row["score"] }}</td>
				<td>{{ row["max_combo"] }}</td>
				<td>{{ row["accuracy"] }}</td>
        	</tr>
		{% endfor %}
    </tbody>
</table>
</center>

{% endblock %}
