<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="style1.css">
	<title>User Profile</title>

</head>
<body>
	<div class="box">
		<img src="robot.gif" alt="" class="box-img">
		<h4>Demo jones</h4>
		<p>Gamer1</p>
		<div class="infomation">
			<h3>High scores</h3>
			<div class="info_data">
				<div class="data">
					<h4>Favorites songs</h4>
					<p>James's song</p>
				</div>
			</div>
		</div>
		<ul>
			<li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
			<li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
			<li><a href=""><i class="fa fa-instagram-square" aria-hidden="true"></i></a></li>
			<li><a href=""><i class="fa fa-tiktok-square" aria-hidden="true"></i></a></li>
		</ul>

	</div>
</body>
</html>